<div class='navigation'>
  <ul>
    <li><a href='#/links' class='index'>All Links</a></li>
    <li><a href='#/shorten' class='create'>Shorten</a></li>
  </ul>
    <a ng-click='signout()' class='logout'>Logout</a>
</div>

<!-- Input field for shortening links -->
<div id='container'>
  <form name="addLinkForm" ng-submit='addLink()'>
    <input class='text' type='url' name='url' ng-model='link.url'>
    <input type='submit' value='Shorten'>
  </form>
  <img ng-show='showSpinner' class='spinner' src='assets/spiffygif_46x46.gif'>
  <div class='message'></div>
</div>

<!-- Show new link once it has been populated with new properties -->

<div id='container' ng-show='newlink'>
  <div class='link'>
  <img src='assets/redirect_icon.png'/>
    <div class='visits'><span class='count'>{{ newlink.visits }}</span>Visits</div>
  <div class='title'>{{ newlink.title }}</div>
  <div class='original'>{{ newlink.url }}</div>
  <a href='{{ newlink.baseUrl }}/{{ newlink.code }}'>{{ newlink.baseUrl }}/{{ newlink.code }}</a>
  </div>
</div>

