<div class='navigation'>
  <ul>
    <li><a href='#/links' class='index'>All Links</a></li>
    <li><a href='#/shorten' class='create'>Shorten</a></li>
  </ul>
    <a ng-click='signout()' class='logout'>Logout</a>
</div>

<div id='container'>
  <form name="searchForm">
    <input class='text' ng-model='query'>
  </form>
</div>

<mylink ng-repeat="link in data.links | filter:query | orderBy:'-visits' ">
<!-- <div id="container">
  <div class='link'>
    <img src='assets/redirect_icon.png'/>
    <div class='visits'><span class='count'>{{ link.visits }}</span>Visits</div>
  <div class='title'>{{ link.title }}</div>
  <div class='original'>{{ link.url }}</div>
  <a href='{{ link.baseUrl }}/{{ link.code }}'>{{ link.baseUrl }}/{{ link.code }}</a>
  </div>
</div> -->